{% extends 'include/base.html' %}
{% block childblock %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experties</title>
    <link rel="stylesheet" href="{% static 'css/experties.css' %}"/>
    <link rel="stylesheet" href="{% static 'js/experties.js' %}"/>
</head>
<body>
    

<center><h1>Jwell Of Odisha Educations</h1></center>




<center><h2 style="text-decoration: underline overline; margin-top: 50px;">CHAIRMAN</h2></center>
<div class="hover03 column">
  <div>
    <figure><img src="{% static 'image/chairman.jpg' %}" /></figure>
    <span> DR. sujit kumar</span>
  </div>
  <!-- <div>
    <figure><img src="https://picsum.photos/300/200?image=1024" /></figure>
    <span>Hover</span>
  </div> -->
  <!-- <div>
    <figure><img src="https://picsum.photos/300/200?image=611" /></figure>
    <span>Hover</span>
  </div>
  <div>
    <figure><img src="https://picsum.photos/300/200?image=611" /></figure>
    <span>Hover</span>
  </div> -->
</div>

<center><h2 style="text-decoration: underline overline; margin-top: 50px;">CEO</h2></center>

<div class="hover03 column">
    <div>
      <figure><img src="{% static 'image/ceo.jpg' %}" /></figure>
      <span>ankush yadav</span>
    </div>
    <div>
      <figure><img src="{% static 'image/ceo.jpg' %}" /></figure>
      <span>satyanarayan panda</span>
    </div>
    <!-- <div>
      <figure><img src="https://picsum.photos/300/200?image=611" /></figure>
      <span>Hover</span>
    </div>
    <div>
      <figure><img src="https://picsum.photos/300/200?image=611" /></figure>
      <span>Hover</span>
    </div> -->
</div>

<center><h2 style="text-decoration: underline overline; margin-top: 50px;">CHANCELOR</h2></center>

<div class="hover03 column">
    <div>
      <figure><img src="{% static 'image/chancelor.jpg' %}" /></figure>
      <span>anurag kashyap</span>
    </div>
    <div>
      <figure><img src="{% static 'image/chancelor.jpg' %}" /></figure>
      <span>manish rajput</span>
    </div>
    <div>
      <figure><img src="{% static 'image/chancelor.jpg' %}" /></figure>
      <span>rajesh sharma</span>
    </div>
    <!-- <div>
      <figure><img src="https://picsum.photos/300/200?image=611" /></figure>
      <span>Hover</span>
    </div> -->
</div>

  <center><h2 style="text-decoration: underline overline; margin-top: 50px;">PRINCIPLE</h2></center>

<div class="hover03 column">
    <div>
      <figure><img src="{% static 'image/principle.jpg' %}" /></figure>
      <span>srivatsa</span>
    </div>
    <div>
      <figure><img src="{% static 'image/principle.jpg' %}" /></figure>
      <span>aniket</span>
    </div>
    <div>
      <figure><img src="{% static 'image/principle.jpg' %}" /></figure>
      <span>sagar sangam</span>
    </div>
    <div>
      <figure><img src="{% static 'image/principle.jpg' %}" /></figure>
      <span>samar srivastav</span>
    </div>
</div>

<center><h2 style="text-decoration: underline overline; margin-top: 50px;">VICE-PRINCIPLE</h2></center>

<div class="hover03 column">
    <div>
      <figure><img src="{% static 'image/viceprinciple.jpg' %}" /></figure>
      <span>paresh kumar</span>
    </div>
    <div>
      <figure><img src="{% static 'image/viceprinciple.jpg' %}" /></figure>
      <span>himansh vatia</span>
    </div>
    <div>
      <figure><img src="{% static 'image/viceprinciple.jpg' %}" /></figure>
      <span>jitesh ganguly</span>
    </div>
    <div>
      <figure><img src="{% static 'image/viceprinciple.jpg' %}" /></figure>
      <span>mk prasad</span>
    </div>
</div>

<center><h2 style="text-decoration: underline overline; margin-top: 50px;">TOP-FACULTY</h2></center>

<div class="hover03 column">
    <div>
      <figure><img src="{% static 'image/faculty1.jpg' %}" /></figure>
      <span>satyamurthy</span>
    </div>
    <div>
      <figure><img src="{% static 'image/faculty2.jpg' %}" /></figure>
      <span>hariharan</span>
    </div>
    <div>
      <figure><img src="{% static 'image/faculty3.jpg' %}" /></figure>
      <span>maniprasad</span>
    </div>
    <div>
      <figure><img src="{% static 'image/faculty4.jpg' %}" /></figure>
      <span>S.srinivasan</span>
    </div>
</div>


</body>
</html>
{% endblock %}